<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>READORA -CHECKOUT </title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top"  data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">READORA</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent"> 
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
                </div>
                
                <!-- Home -->
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a href="{% url 'home' %}"><button class="btn btn-success" type="button">Home</button></a>
                </div>&nbsp;
                
                <!-- Cart -->

                <button class="btn btn-primary" type="button"><a href="{% url 'cart' %}" style="color: white;text-decoration: none;"><i class="fa fa-shopping-cart" style="font-size:24px;color:white;"></i>
                    &nbsp;cart</a>
                </button>&nbsp;

                <!-- Orders -->

                <button class="btn btn-primary" type="button"><a href="{% url 'orders' %}" style="color: rgb(244, 248, 246);text-decoration: none;"><i class="fa fa-shopping-cart" style="font-size:24px;color:rgb(44, 248, 106);"></i>
                    &nbsp;Orders</a>
                </button>&nbsp;

                <!-- Profile -->

                <button class="btn btn-primary" type="button"><i class="fa fa-user"
                    style="font-size:24px;color: aqua;"></i>&nbsp;{{user.username}}
                </button>&nbsp;

                <!-- Signout -->

                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a href="{% url 'signout' %}"> <button type="button" class="btn btn-outline-secondary"
                    style="color: rgb(248, 248, 250);">Signout</button></a>
                </div>
        </nav> 

                <!-- Form -->
                <form method="post" style="text-align: center;">
                    {% csrf_token %}
                    <div class="container" style="width:70%;height:360px;margin-left:5cm ;margin-top: 30px;font-size: 20px;text-align: center;">
                        <div style="text-align: center;"><span>Book :</span><input value="{{cart.book.title}}"
                            placeholder="amount" name="book_title" class="border-0 fs-5 fw-bold" style="font-size: 20px;">
                        </div>

                        <div style="margin-left: 160px;"><span>Amount : </span>
                            <input value="{{cart.total}}"
                            style="font-size: 20px;" placeholder="amount" name="amount" class="border-0 fs-5 fw-bold">
                        </div><br>

                        <div style=" margin-right: 80px;"><button type="submit"  class="btn btn-info" >Proceed to pay </button>
                            <button   class="btn btn-danger"  ><a href="{% url 'cart' %}"  style="text-decoration: none;color: white;">Cancel</a></button>
                        </div>
                    </div>  
                </form>
                <!-- Form- end -->

                <!-- payment-gateway -->
                 {% if payment %}
                <div class="text-center mx-auto" style="margin: -220px 25% 100px 30%;">
                  <form action="{% url 'success' %}" method="POST" >
                    <script
                        src="https://checkout.razorpay.com/v1/checkout.js"
                        data-key="rzp_test_j3CDH5AT9kIHCA"  // Enter the Test API Key ID generated from Dashboard → Settings → API Keys
                        data-amount="{{payment.amount}}" // Amount is in currency subunits. Hence, 29935 refers to 29935 paise or ₹299.35.
                        data-currency="INR"
                        data-order_id="{{payment.id}}"// Replace with the order_id generated by you in the backend.
                        data-buttontext="Pay with Razorpay"
                        data-name="Eshop Corp"
                        data-description="A Wild Sheep Chase is the third novel by Japanese author Haruki Murakami"
                        data-image="https://example.com/your_logo.jpg"
                        data-prefill.name="Gaurav Kumar"
                        data-prefill.email="gaurav.kumar@example.com"
                        data-theme.color="#F37254"
                    ></script>
                    <input type="hidden" custom="Hidden Element" name="hidden"/>
                  </form>
                 {% endif %}
                </div>
                <!-- payment-gateway -->

                <!-- Demo - deatils -->
                 
               <div style="margin: 0 25% 0 30%;margin:0 auto;width:50%;border: 2px solid black;">
                   <h6 style="text-align: center;margin-bottom: 0px;"> proceed to  pay --> Pay with Razorpay  </h6><br>
                   <ul>
                        <h6 style="text-align: center;text-decoration: underline;">sample card details for payment testing</h6>
                        <li>Mastercard  number-	5267 3181 8797 5449 ||	Random CVV ||	Any future date for expiry date</li>
                    </ul>
                </div>

                <!-- Demo - deatils -->

    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous">
    </script>
</html>